<%= form_for(syllabus) do |f| %>
  <% if syllabus.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(syllabus.errors.count, "error") %> prohibited this syllabus from being saved:</h2>

      <ul>
      <% syllabus.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :cid %>
    <%= f.number_field :cid %>
  </div>

  <div class="field">
    <%= f.label :prof %>
    <%= f.text_field :prof %>
  </div>
  <div class="field">
    <%= f.label :semester %>
    <%= f.text_field :semester %>
  </div>
  <div class="field">
    <%= f.label :link %>
    <%= f.text_field :link %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
