<p id="notice"><%= notice %></p>

<h1>Grade Distribution</h1>
<%
def getId(cid)
  id = Course.where(cid: cid).select("id").take
end
%>

<table class=" table table-striped sortable">
  <thead>
    <tr>
      <th>Rank</th>
      <th>Course ID</th>
      <th>A%</th>
      <th>B%</th>
      <th>C%</th>
      <th>Total Enrollment</th>      
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <%
     i = 0
     @distByCourse.each do |d|
     i += 1
    %>
      <tr>
        <td ><%= i %></td>
        
        <td><%= 
          if(getId(d.cid)!=nil)
            link_to d.cid, course_path(:id => getId(d.cid).id)
          else
            d.cid
          end
            %> </td>
        <td><%= d.a*100 / d.total %>%</td>
        <td><%= d.bs*100 / d.total %>%</td>
        <td><%= d.cs*100 / d.total %>%</td>
        <td><%= d.total %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<table class=" table table-striped sortable">
  <thead>
    <tr>
      <th>Rank</th>
      <th>Instructor</th>
      <th>A%</th>
      <th>B%</th>
      <th>C%</th>
      <th>Total Enrollment</th>      
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <%
      i = 0 
      @distByInstructor.each do |d| 
      i += 1
    %>
      <tr>
      <td ><%= i %></td>
        <td><%= d.instructor %></td>
        <td><%= d.a*100 / d.total %>%</td>
        <td><%= d.bs*100 / d.total %>%</td>
        <td><%= d.cs*100 / d.total %>%</td>
        <td><%= d.total %></td>
      </tr>
    <% end %>
  </tbody>
</table>
