<p id="notice"><%= notice %></p>

<p>
  <strong>Cid:</strong>
  <%= @gradedist.cid %>
</p>

<p>
  <strong>Section:</strong>
  <%= @gradedist.section %>
</p>

<p>
  <strong>Instructor:</strong>
  <%= @gradedist.instructor %>
</p>

<p>
  <strong>Semester:</strong>
  <%= @gradedist.semester %>
</p>

<p>
  <strong>As:</strong>
  <%= @gradedist.as %>
</p>

<p>
  <strong>Bs:</strong>
  <%= @gradedist.bs %>
</p>

<p>
  <strong>Cs:</strong>
  <%= @gradedist.cs %>
</p>

<p>
  <strong>Ds:</strong>
  <%= @gradedist.ds %>
</p>

<p>
  <strong>Fs:</strong>
  <%= @gradedist.fs %>
</p>

<p>
  <strong>S:</strong>
  <%= @gradedist.s %>
</p>

<p>
  <strong>U:</strong>
  <%= @gradedist.u %>
</p>

<p>
  <strong>In:</strong>
  <%= @gradedist.in %>
</p>

<p>
  <strong>La:</strong>
  <%= @gradedist.la %>
</p>

<p>
  <strong>Au:</strong>
  <%= @gradedist.au %>
</p>

<p>
  <strong>Nr:</strong>
  <%= @gradedist.nr %>
</p>

<p>
  <strong>W:</strong>
  <%= @gradedist.w %>
</p>

<p>
  <strong>Total:</strong>
  <%= @gradedist.total %>
</p>

<%= link_to 'Edit', edit_gradedist_path(@gradedist) %> |
<%= link_to 'Back', gradedists_path %>
